body {
    background: $white-color;
    font-family: $text-font;
    color: $text-color;

    h1 {
        font-family: $heading-font;
    }

    a {
        color: $link-color;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

header {
    display: flex;
    padding: 120px 20px;

    perspective: 1000px;
    transform-style: preserve-3d;

    color: $white-color;

    p > a {
        color: $white-color;
        text-decoration: underline;
    }
}

footer {
    padding: 0 20px 20px;
    margin-bottom: 20px;
    text-align: center;
}

.card {
    margin: auto;
    display: flex;

    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);

    transform: translateZ(0);
    transform-style: preserve-3d;

    background: #e74c3c;
    background: linear-gradient(0deg, #9b59b6, #4aa3df, #1abc9c, #2ecc71, #f1c40f, #e67e22, #e74c3c);
    background-size: 1400% 1400%;
    animation: Animation 30s ease infinite;

    .card-content {
        margin: auto;
        text-align: center;
        transform-style: preserve-3d;
    }

    h1, p {
        // Firefox & Edge Bugfix
        transform: translateZ(20px);
    }
}

#design {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;

    h2 {
        font-size: 1em;
        font-weight: normal;
        text-align: center;
        color: $heading-color;
    }

    img {
        width: 100%;
        margin: 0 0 40px;

        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);

        &:hover, &:focus {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        }
    }

    &:before {
        display: block;
        content: "";
        margin-top: -50px;
        height: 50px;
        visibility: hidden;
    }
}

@media (max-width: 425px) {
    header {
        padding: 60px 20px 40px;
    }

    .card-content {
        h1 {
            font-size: 1.7em;
        }

        p {
            font-size: 0.9em;
        }
    }
}

@media (max-width: 350px) {
    .card-content {
        h1 {
            font-size: 1.5em;
        }
    }
}

@keyframes Animation {
    0% {background-position: 50% 0%;}
    50% {background-position: 50% 100%;}
    100% {background-position: 50% 0%;}
}
